.grid {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);

  border: 3px solid rgba(0, 0, 0, 1);
}

.grid-square {
  width: 10px;
  height: 10px;
}

#reset {
  cursor: pointer;
}