body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

input {
  width: 2rem;
  height: 2rem;

  background-color: rgba(255, 255, 255, 0);
  border: none;
}

button {
  display: inline-block;

  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);

  width: 75px;

  background-color: rgb(121, 162, 196);
  border-radius: 7px;

  box-shadow: none;
  border: none;

  margin-top: 20px;
}

button:hover{
  background-color: rgb(77, 106, 129);
  cursor: pointer;
}

i {
  font-size: 30px;
  font-weight: 700;
}

.tools {
  display: flex;
}

#selection-items {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 175px;

  background-color: rgb(177, 220, 255);
  padding: 25px;
  border-radius: 25px;
}

.grid {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(32, 1fr);

  border: 3px solid rgba(0, 0, 0, 1);
}

.grid-square {
  width: 10px;
  height: 10px;
}

#colorpicker {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;

  background-color: rgb(121, 162, 196);
  border-radius: 10px;

  padding: 5px;
}

#colorpicker label{
  padding-right: 0.5rem;
}

#colorpicker input {
  cursor: pointer;
}

#reset {
  padding-top: 10px;
  padding-bottom: 10px;

  width: 150px;
  cursor: pointer;
}