body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(214, 214, 214);
}

p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 20px;
}

img {
  height: 200px;
  width: 200px;
}

input {
  width: 2rem;
  height: 2rem;

  background-color: rgba(255, 255, 255, 0);
  border: none;
}

button {
  display: inline-block;

  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);

  width: 75px;

  background-color: rgb(121, 162, 196);
  border-radius: 7px;

  box-shadow: none;
  border: none;

  margin-top: 20px;
}

button:hover{
  background-color: rgb(77, 106, 129);
  cursor: pointer;
}

i {
  font-size: 30px;
  font-weight: 700;
}

#modal-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(177, 220, 255);
  padding: 25px;
  border-radius: 25px;
  box-shadow: -2px -2px 24px -7px rgba(0,0,0,0.69);
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#options #sizes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#options #sizes-container #sizes-buttons button {
  width: 100px;

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;

  font-size: 20px;
}


#options #initial-color-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#options #initial-color-selector-container label {
  font-size: 20px;
}

#start {
  width: 100px;

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;

  background-color: rgb(21, 134, 227);

  font-size: 20px;
}

#start:hover {
  background-color: rgb(12, 81, 137);
}

#content {
  /* CHANGE TO FLEX */
  display: none;
  align-items: center;
  justify-content: center;

  height: 100vh;

  gap: 25px;
}

.tools {
  display: flex;
}

#selection-items {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 175px;

  background-color: rgb(177, 220, 255);
  box-shadow: -2px -2px 24px -7px rgba(0,0,0,0.69);
  padding: 25px;
  border-radius: 25px;
}

.selected {
  background-color: rgb(77, 106, 129);
}

.grid {
  display: grid;

  border: 3px solid rgba(0, 0, 0, 1);
}

.grid-square {
  width: 10px;
  height: 10px;
}

#colorpicker {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;

  background-color: rgb(121, 162, 196);
  border-radius: 10px;

  padding: 5px;
}

#colorpicker label{
  padding-right: 0.5rem;
}

#colorpicker input {
  cursor: pointer;
}

#save-color {
  font-size: 20px;
  margin-top: 10px;
}

#palette {
  display: flex;
  gap: 10px;

  margin-top: 20px;
}

#color-1, #color-2, #color-3, #color-4 {
  background-color: aliceblue;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#reset {
  padding-top: 10px;
  padding-bottom: 10px;

  width: 150px;
  cursor: pointer;
}